/*
=====TOP NAVIGATION BAR=====
*/
/* --unordered list-- */
#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a19bd471;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

/* --List items-- */
#nav-list li {
    float: left;
}

/* --Anchor href-- */
#nav-list a{
    display: block;
    color: #000000;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

/* --Anchor href hover-- */
a:hover {
    background-color: #0d7daa;
}

input[type=text], input[type=number] {
    background-color: blueviolet;
}

button {
    width: 200px;
    height: 50px;
    font-size: 24px;
    background-color: green;
}

button:hover {
    background-color: orange;
}


p::selection {
    background-color: green;
    color: white;
}

@media (min-width: 500px) {
        p {
        padding: 40px;
    }
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.item {
    width: 400px;
    margin: autso;
}