

h1, h2, h3, h4 {
    color: blue;
    text-align: center;
}

div {
    background-color: teal;
    width: 50%;
    height: 100px;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: 10px dotted blue;
    text-align: center;
}

table {
    border: 3px solid black;
    border-collapse: collapse;
    width: 58%;
}

th, td {
    border: 1px dotted black;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}